/Day25-CSV/squirrelData/2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Day29-tkinter-password-manager-app/data.txt
/Day29-tkinter-password-manager-app/data.json
/Day31-flash-card-app/data/words_to_learn.csv
/.idea/python-playground.iml
